[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/cpp-subprocess"]
	path = extern/cpp-subprocess
	url = https://github.com/Kuree/cpp-subprocess
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "extern/vlstd"]
	path = extern/vlstd
	url = https://github.com/Kuree/vlstd
